{% extends 'core/base.html' %}
{% load static %}


{% block content %}
    <header class="header--form-page">

{% include 'core/navbar.html' %}

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zapomniałeś hasła?<br />
            <span class="uppercase">Podaj adres email, aby zdefiniować nowe hasło</span>
          </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Wyślij email"></p>
            </form>
        </div>
      </div>
    </header>
{% endblock %}