{% extends 'core/base.html' %}
{% load static %}


{% block content %}
    <header class="header--form-page">

{% include 'core/navbar.html' %}

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zresetuj hasło<br />
            <span class="uppercase">Wpisz dwukrotnie nowe hasło:
            </span>
          </h1>
              {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Zmień hasło"></p>
            </form>
            {% else %}
    <p>Link jest nieprawidłowy. Spróbuj jeszcze raz</p>
  {% endif %}
        </div>
      </div>
    </header>
{% endblock %}

