{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <header>
        {% include 'core/navbar.html' %}
    </header>


<section class="login-page">
      <h2>Zmiana hasła</h2>
    {% if validlink %}
    <p>Podaj dwukrotnie nowe hasło</p>
    <form method="POST" action="">
         <div class="form-group">
             {% csrf_token %}
             {{ form.as_p }}
             <br>
        </div>

        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Zmień hasło</button>
        </div>
      </form>
{% else %}
<p>Łącze resetujące hasło jest nieprawidłowe. Musisz rozpocząć od nowa</p>
{% endif %}
</section>
{% endblock %}