{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <header>
        {% include 'core/navbar.html' %}
    </header>


<section class="login-page">
      <h2>Zapomniałeś hasła?</h2>
<h3>Podaj adres email, aby zmienić hasło</h3>
      <form method="POST" action="">
         <div class="form-group">
             {% csrf_token %}
             {{ form.as_p }}
             <br>
        </div>

        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Wyślij email</button>
        </div>
      </form>
    </section>

{% endblock %}