{% extends 'core/base.html' %}
{% load static %}


{% block content %}
    <header class="header--form-page">

{% include 'core/navbar.html' %}

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zerowanie hasła<br />
            <span class="uppercase">Wysłaliśmy Ci wiadomość email wraz z instrukcjami pozwalającymi na zminanę
                hasła.
            </span>
          </h1>
            {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><input type="submit" value="Zmień hasło"></p>
            </form>
            {% else %}
            <p>
                Link nieprawidłowy. Mógł zostać wcześniej użyty. Musisz zacząć procedure zmiany hasła od nowa
            </p>
            {% endif %}
        </div>
      </div>
    </header>
{% endblock %}