{% extends 'core/base.html' %}
{% load static %}


{% block content %}
    <header class="header--form-page">

{% include 'core/navbar.html' %}

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zerowanie hasła<br />
            <span class="uppercase">Hasło zostało zdefiniowane.
                Możesz się <a href="{% url 'core:login' %}">zalogować</a>
            </span>
          </h1>
        </div>
      </div>
    </header>
{% endblock %}

