{% extends 'core/base.html' %}
{% load core_tags %}
{% load static %}

{% block content %}
<header>
    {% include 'core/navbar.html' %}
</header>
    <section class="login-page">
      <h2>Twój profil</h2>
    <div>
      <form method="POST" action="">
         <div class="form-group">
             {% csrf_token %}
             {{ form.as_p }}
    <button type="submit" value="wyśilij">Zmień dane</button>
         </div>
      </form>
</div>
     <h2>Twoje Dary</h2>
    <div >
        <table>
       <thead style="font-weight: bold">
       <th> Liczba worków </th>
       <th>Beneficjent</th>
       <th>Kategoria</th>
       <th>Odbiór</th>
       </thead>
{% for item in user_donations %}
       <tr>
           <td>{{ item.quantity }}</td>
           <td> {{item.institution }}</td>
           <td> {% for category in item.categories.all %}<li>{{category| join:","}}</li>{% endfor %}</td>
           <td> {{item.pick_up_date }}</td>
       </tr>
    {% empty %}
           <tr>
               <td colspan="3"><h4>Lista darowizn jest pusta. Czekamy na Twój pierwszy przekazany dar!</h4>
               </td>
           </tr>
        {% endfor %}
    </table>
    </div>
    </section>

{% endblock %}










{#    <header class="header--main-page">#}
{##}
{#        {% include 'core/navbar.html' %}#}
{##}
{#      <div class="slogan container container--90">#}
{#          <h1>#}
{#            Twój profil<br />#}
{#          </h1><br>#}
{#            <div class="form-group">#}
{#            <form method="POST" action="">#}
{#             {% csrf_token %}#}
{#             {{ form.as_p }}#}
{#             <button type="submit" value="Zmień dane">Zmień</button>#}
{#            </form>#}
{#            </div>#}
{#      </div>#}
{#    </header>#}


{#{% endblock %}#}