{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<header class="header--form-page">

    {% include 'core/navbar.html' %}

      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza. Na maila prześlemy wszelkie
            informacje o odbiorze. Wejdź na swój <a style="color: blue; text-decoration: underline" href="{% url 'core:profile' %}">profil</a>
              i sprawdź podsumowanie przekazanych darów!
          </h2>
      </div>
</header>
{% endblock %}