<nav class="container container--70">
    {% if request.user.is_authenticated %}
        <ul class="nav--actions">
          <li class="logged-user">
            Witaj {{ request.user.first_name }}
            <ul class="dropdown">
              <li><a href="{% url 'core:profile' %}">Profil</a></li>
              <li><a href="{% url 'password_change' %}">Ustawienia</a></li>
              <li><a href="{% url 'core:logout' %}">Wyloguj</a></li>
                {% if request.user.is_staff %}
                <li><a href="/admin/">Admin</a> </li>
                {% endif %}
            </ul>
          </li>
        </ul>
    {% else %}
        <ul class="nav--actions">
          <li><a href="{% url 'core:login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
          <li><a href="{% url 'core:register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>
   {% endif %}
        <ul>
          <li><a href="{% url 'core:home' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'core:home' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="{% url 'core:home' %}#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="{% url 'core:home' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'core:donation'%}" class="btn btn--without-border">Przekaż dary</a></li>
            {% endif %}
            <li><a href="{% url 'core:home' %}#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>

      </nav>